{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CDMI - Creative Design & Multimedia Institute</title>
    <link rel="stylesheet" href="{% static 'CDMI/cdmi.css' %}">
</head>
<body>

    <!-- Headinf -->
    <table width="100%" bgcolor="blue" cellpadding="10">
        <tr>
            <td>
                <font color="white">
                    <a href="https://www.cdmi.in/" target="_blank" style="color:white;">info@cdmi.in</a> |
                    <a href="https://www.cdmi.in/" target="_blank"  style="color:white;">Verify Certificates</a>
                </font>
            </td>
            <td align="center">
                <a href="https://www.cdmi.in/" target="_blank" style="color:white;">Have any Questions? +91 90333 16003</a>
            </td>
            <td align="right">
                <font color="white">
                    <a href="https://www.facebook.com/CreativeMultimediaInstituteSurat" target="_blank"style="color:white; ">Facebook</a> |
                    <a href="https://twitter.com/cdmi_multimedia" style="color:white;">Twitter</a> |
                    <a href="https://goo.gl/maps/j1nCgfkAZUs" style="color:white;">Google+</a> |
                    <a href="https://www.linkedin.com/school/creative-multimedia-institute/" style="color:white;">LinkedIn</a>
                </font>
            </td>
        </tr>
    </table>

   <!-- <--2nd col-->  
    <table width="100%" bgcolor="white" cellpadding="15">
        <tr>
            <td><a href="" target="_blank"><img src="./images/Creative_logo.jpg" height="50"></td>
            <td align="center"><a href="#" target="_blank" >Home</a></td>
            <td align="center"><a href="#" target="_blank">Courses</a></td>
            <td align="center"><a href="#" target="_blank" >Activities</a></td>
            <td align="center"><a href="#" target="_blank">Blog</a></td>
            <td align="center"><a href="#" target="_blank">Know Us</a></td>
            <td align="center"><a href="#" target="_blank">Get in Touch</a></td>
            <td align="center"><a href="#" target="_blank">Student Zone</a></td>
        </tr>
    </table>

    <!-- Banner -->
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td><img src="images/Placement.jpg" width="100%" alt="Banner Image"></td>
        </tr>
    </table>

    <table width="100%" cellpadding="10">
        <tr>
            <td > </td>
        </tr>
        <tr>
            <td align="center" colspan="3">--CREATIVE COURSES </td>
        </tr>
        <tr >
            <td align="center" style="font-size: 25px;" colspan="3"><b>OFFERED COURSES</b></td>
        </tr>
       <tr>
            <td align="center" style="width:18%;"><img src="./images/Data Science.jpg" align="center"></td>
            <td align="center" style="width:18%;"><img src="./images/Video Editing.jpg" align="center"></td>
            <td align="center" style="width:18%;"><img src="./images/Php.webp"  align="center"></td>
        </tr>
        <tr >
            <td align="center" style="width:18%;""><img src="./images/Business Development.jpg"  align="center"></td>
            <td align="center" style="width:18%;""><img src="./images/python.jpg" align="center"></td>
            <td align="center" style="width:18%;"><img src="./images/Design coursess.jpg" align="center"></td>
        </tr>
         <tr >
            <td align="center" style="font-size: 25px;" colspan="3" ><button style="background-color: orange;padding: 10px 20px;border: none;"><b style="color:white

            ">View All Courses  →<b></button></td>
       </tr>
    </table>

    
    <table width="100%" cellpadding="10" >
        <tr style="border:3;"><td align="center" colspan="3">― READ OUR DIFFERENCE</td></tr>
        <tr><td align="center" colspan="3" style="font-size:35px;"><b>WHY OUR DIFFERENCE</b></td></tr>
    </table>
    <table width="75%" cellpadding="10" border="2" align="center">
        <tr>
            <td align="center"><img src="./images/icon-1.jpg" width="90"><br><strong>Industry Experts As Trainers</strong></font><br><p>Our trainers have 5+ years of industry<br>experience coupled with extensive<br>research and analysis.</p></td>
            <td align="center"><img src="./images/icon-2.jpg" width="100"><br><strong>Latest Curriculum</strong></font><br><p>We Provides latest curriculum for all<br>courses which designed in such a way<br>that Students will get full knowledge<br>within a short time.</p></td>
            <td align="center"><img src="./images/icon-3.jpg" width="100"><br><strong>Latest technology</strong></font><br><p>We strive to let you have a solid<br>foundational knowledge of technologies<br>shaping the IT World today.</p></td>
        </tr>
        <tr>
            <td align="center"><img src="./images/icon-4.jpg" width="100"><br><strong>Interview Assistance</strong></font><br><p>At the end of each training,our training<br>instructor will go through the possible<br>technical questions you may be asked.</td>
            <td align="center"><img src="./images/icon-5.jpg" width="100"><br><strong>Free Upgradation</strong></font><br><p>We will be provided free upgradation for<br>any newer version of the course you<br>have</td>
            <td align="center"><img src="./images/icon-6.jpg" width="100"><br><strong>Lifetime Support</strong></font><br><p>We will provide you lifetime support on<br>all the courses you learned from us.</td>
        </tr>
     </table>
   


<table width="100%" bgcolor="#003366" cellpadding="20">
    <tr>

        <td width="33%" valign="top">
            <font color="white">
                <h1>CREATIVE</h1>
                <p>Creative Design and Multimedia Institute is leading computer training institute in Gujarat. We offers government approved computer training courses in Gujarat.</p> 
            </font>
        </td>
         
        <td width="33%" valign="top">
            <font color="white">
                <h3>FEATURE LINKS</h3>
                <ul style="list-style:none; padding-left:0;">
                    <li><a href="#" style="color:white;">About Us</a></li>
                    <li><a href="#"style="color:white;">Blogs</a></li>
                    <li><a href="#" style="color:white;">Join Us</a></li>
                    <li><a href="#" style="color:white;">Terms & Conditions</a></li>
                    <li><a href="#" style="color:white;">Privacy Policy</a></li>
                    <li><a href="#"style="color:white;">Company Login</a></li>
                    <li><a href="#" style="color:white;">Certificate Verification</a></li>
                </ul>
            </font>
        </td>
        <td width="33%" valign="top">
            <font color="white">
                <h3>CONTACT US</h3>
                <p><b>HEAD OFFICE – YOGICHOWK</b><br>
                401-404, 4<sup>th</sup> Floor, City Center Complex, Nr. Yogichowk, Varachha, Surat.<br>
                Mo: <a href="tel:+919033316003" style="color:white;">+91 90333 16003</a></p>

                <p><b>OTHER BRANCHES</b><br>
                Katargam<br>
                Mota Varachha<br>
                Navsari<br>
                Dindoli<br>
                Sarthana<br>
                Ahmedabad
                </p>
            </font>
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center">
            <font color="white">
                FOLLOW US ON <br>
                <a href="#" target="_blank" ><img src="./images/Facebook.jpg" height="24"></a>
                <a href="#" target="_blank" ><img src="./images/Twitter.jpg" height="24"></a>
                <a href="#" target="_blank" ><img src="./images/Maps.jpg" height="24"></a>
                <a href="#" target="_blank" ><img src="./images/Linkedin.jpg" height="24"></a>
                <a href="#" target="_blank" ><img src="./images/Instagram.jpg"height="24"></a>
                <a href="#" target="_blank" ><img src="./images/Youtube.jpg"height="24"></a>
                <a href="#" target="_blank" ><img src="./images/Whatsapp.jpg"height="24"></a> 
                
            </font>
        </td>
    </tr>
</table>

 <table width="100%" bgcolor="blue" cellpadding="20">
        <tr>
            <td align="center">
                <font color="white">
                    &copy; 2025 Creative Design & Multimedia Institute | <a href="tel:+919033316003" style="color:white;">Call: +91 90333 16003</a><br>
                    Visit us at: <a href="https://www.cdmi.in" style="color:white;">www.cdmi.in</a>
                </font>
            </td>
        </tr>
    </table>
</body>
</html>