{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Register form</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>

<body>
    <div class="container">
        <h2 style="text-align:center;">Create Account</h2>

        <form method="POST">
            {% csrf_token %}
            
            <label>Name:</label>
            <input type="text" name="name" placeholder="Enter Name" required>

            <label>Email:</label>
            <input type="email" name="email" placeholder="Enter Email" required>

            <label>Contact:</label>
            <input type="text" name="contact" placeholder="Enter Contact Number" required>

            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter Password" required>

            <label>Confirm Password:</label>
            <input type="password" name="cpassword" placeholder="Confirm Password" required>

            <button type="submit">Register</button>
        </form>

        <div class="link">
            Already have an account?
            <a href="{% url 'dashboard' %}">Login</a>
        </div>

    </div>
</body>
</html>
