{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" type="text/css" media='screen' href="{% static 'yom.css' %}"> {% endcomment %}
    <title>Home</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        Name :<input type"text" name="name">
        Email :<input type="text" name="email">
        <input type="submit" value="Click here" name="submit">
    </form> 
</body>
</html>